.main {
    @extend %margin-bottom-lg;
}
.top-week,
.new-films {

    &-title {

    }

    .row {
        margin-left: -$gap-sm;
        margin-right: -$gap-sm;
        margin-bottom: -$gap;
    }
    &-item {
        padding-left: $gap-sm;
        padding-right: $gap-sm;
        margin-bottom: $gap;

        &:hover {
            .top-week-item__thumbnail,
            .new-films-item__thumbnail {
                background-color: $color-accent;
                border-color: $color-accent;
            }
            h3 {
                color: $color-white;
            }
        }

        &__thumbnail {
            margin-bottom: 0;
            transition: background-color 0.25s;
        }

        &__image {
            width: 100%;
        }

        &__caption {
            text-align: center;
        }

        &__title {
            @include text-shortener;
            margin: 0;
            font-size: 1rem;
            font-weight: bold;
        }
    }
    
}

.cinema-news {
    &-item {
        &:hover {
            .cinema-news-item__thumbnail {
                background-color: $color-accent;
                border-color: $color-accent;
            }

            h3 > a {
                color: $color-accent;
            }

            .cinema-news-item__btn {
                background-color: $color-accent;
            }
        }
    
        &__thumbnail {
            transition: background-color 0.25s;
            margin-bottom: 0;
        }

        &__image {
            width: 100%;
        }

        &__description {
            text-align: justify;
        }

        &__btn {
            float: right;
            margin-bottom: $gap * 2;
            transition: background-color 0.25s;
        }
    }

}